.footer{
    height: 400px;
    width: 100%;
    background-color: #0c0017;
    border: 1px solid #0c0017;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_in{
    height: 180px;
    width: 300px;
    color: white;
    float: left;
    margin-top: 5px;
    text-align: center;
    font-family: Garamond, serif;
}