*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins' sans-serif;
}
h1{
    background-color:#0c0017;
    color: white;
    text-align: center;
    font-size: x-large;
    font-family:Copperplate, Papyrus, fantasy;
    top: 0;
    animation:mymove 5s infinite;
}
@keyframes mymove {
    20% {top: 100px;}
  }
h3{
    background-color:#0c0017;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: 20px;
    font-family: 'Brush Script MT', cursive;
}
#menu ul{
    list-style: none;
    z-index: 1000;
    font-family: "Courier New", Courier, monospace;
}
#menu ul li{
    background-color: #0c0017;
    border: 1px solid white;
    width: 265.50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
    font-family: "Courier New", Courier, monospace;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
#menu ul li a:hover{
    background-color:blue;
}
#menu ul ul{
    position: absolute;
    display: none;
}
#menu ul li:hover > ul{
    display: block;
}