.juce{

    border: 0px solid red;
    width: 100%;
    height: 1100px;
    justify-content: space-around; 
    align-items: center;
    padding: 0px;
    background-color: #fff;
    border-radius: 10px;

}
.inner
{
    border: 0px solid red;
    height: 300px;
    width: 300x;
    align-items: center;
    text-align: center;
    float: left;
    margin: 35px;
    border-radius: 10px ;
    border-top-left-radius: 20px 10px;
    border-top-right-radius: 20px 10px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(151, 147, 147, 0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
    transition:transform 1s ;
    background-color: #27014b;
}
.inner:hover{
    transform: scale(1.05);
}

.checked{
    color: orange;
}

.star{
    border: 0px solid black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
#btn{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 0px;
    background-color: orange;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
#btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: green;
    color: white;
}
#nxtbtn{
    display: flex;
    float: right;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 0px;
    background-color: orange;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
#pvbtn{
    display: flex;
    float:left;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 0px;
    background-color: orange;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
#nxtbtn:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    background-color:rgb(43, 16, 196);
}
#pvbtn:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    background-color:rgb(43, 16, 196);
}