.para{
    margin-top: 10px;
    margin-bottom: 10px;
    font-display:block;
    font-size: large;
    text-align: center;
    background-color:  #27014b;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.Team{
    border: 0px solid black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #27014b;
}
.clr{
    background-color: #27014b;
}
#imgT1{
    margin-right: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#imgT3{
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#imgT2{
    margin-bottom: 10px;
    border-radius: 10px;
}